#resp-table{
	width: 100%;
}
h1{
	margin: 0 410px;
}
p{
	font-size: 1.5em;
}
table {
	margin: 1em auto;
	border: 1px solid silver;
}
thead > tr{
	text-align: right;
	border: 1px solid silver;
}
th{
	text-align: right;
	padding: 0 8px;
	border: 1px solid silver;
	width: 80px;
	height: 30px;
}
tbody > tr{
	text-align: right;
	border: 1px solid silver;
}
tbody > tr:nth-child(odd){
	background: #dbdbdb;
	border: 1px solid silver;
}
td{
	padding: 0 8px;
	border: 1px solid silver;
	width: 50px;
	height: 30px;
}
td:first-child{
	text-align: left;
	font-weight: bold;
}
@media only screen and (max-width: 800px){
	h1{
		margin: auto;
	}
}